 .box-stock {
     width: 300px;
    display: inline-block;
    height: auto;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;

 }
 .box-stock img {
     width: 200px;
     height: 200px;
 }
 .btn-click {
     background-color: black ;
     color: ivory;
     padding: 12px;
     border : none;
     width: 80px;


 }